input {
  width: 50%;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  outline: 0;
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

input[type="submit"] {
  background: #000;
  color: #fff;
  border: 0;
  width: 20%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.add-product-field {
  margin-top: 8px;
}
